@media only screen 
and (min-width : 1024px){/*desktop, laptop*/
 body{
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 64px;
  height: 100%;
  min-height: 100%;
  color: #2a2a2a;
  background: #fff;
  zoom: 2 !important;
  zoom: 200% !important;
  -ms-transform: scale(1.3) !important;
  -moz-transform: scale(1.3) !important;
  -o-transform: scale(1.3) !important;
  -webkit-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
  overflow-x: hidden;
 }
 .headline{
  clear: both;
  position: relative;
  display: block;
  top: 10px;
  margin: 0 auto;
  width: 98%;
 }
 header{
  display: block;
  position: absolute;
  color: #000;
  font-family: "Franklin ITC Pro Light", Georgia, Arial;
  font-size: 32pt;
  bottom: 15%;
  text-align: center;
  width: 96%;
 }
}
.headline-image{
 position: relative;
 vertical-align: bottom;
 text-align: center;
 height: 600px;
 padding: 10px;
 background-size: cover;
 /*background-size: auto 600px;*/
 background-repeat: no-repeat;
}
.headline-image h2{
 position: absolute;
 bottom: 0;
 color: #fff;
 font-size: 22pt;
}
h3.byline{
 width: 98%;
 margin: 0 auto;
 font-size: 18pt;
 padding-top: 15px;
}
h1{
 color: #fff;
 font-size: 24px;
 font-weight: 300;
 line-height: 38px;
 margin: 25px 0 15px;
 padding: 0;
}
a{
 color: #2c5472;
}
.clear{
 float: none;
 clear: both;
}
.float-left{
 float: left;
 clear: none;
}
 #main-content{
  color: gray;
 }
/* Start media queries. TODO: finish this and make sure to add styles to emulate Kindles within the desktop/laptop queries */
@media (min-width: 980px){ /*desktop, laptop*/
 /*.row{
  width: 1024px !important;
  max-width: 1024px !important;
 }*/
 .row.full-width{
  width: 100%;
  max-width: 100%;
 }
}

/* Kindle Portrait 600 X 1024. Possibly 6" */
@media only screen
and (min-width: 595px)
and (max-width: 610px){
 header{
  display: block;
  /*position: absolute;*/
  color: #000;
  font-family: "Franklin ITC Pro Light", Georgia, Arial;
  font-size: 34pt;
  bottom: 64pt;
  padding: 10px;
  width: 100%;
 }
}

/* Kindle Landscape 1024 X 600. Possibly 6" */
@media only screen
and (min-width: 1000px)
and (max-width: 1030px){
 header{
  display: block;
  /*position: absolute;*/
  color: #000;
  font-family: "Franklin ITC Pro Light", Georgia, Arial;
  font-size: 40pt;
  bottom: 64pt;
  padding: 10px;
  width: 100%;
 }
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1280px){ /* Kindle 7" first and second gen */
 /*.row{
  width: 1280px !important;
  max-width: 1280px !important;
 }*/
 .row.full-width{
  width: 96%;
  max-width: 96%;
 }
 header{
  display: block;
  /*position: absolute;*/
  color: #000;
  font-family: "Franklin ITC Pro Light", Georgia, Arial;
  font-size: 40pt;
  bottom: 64pt;
  padding: 10px;
  width: 100%;
 }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1200px){ /* Kindle 8.9", portrait */
 #main-content{
  padding-left: 15px;
  padding-right: 15px;
 }
 /*.row{
  max-width: 52.5rem !important;
 }*/
 .row.full-width{
  width: 96%;
  max-width: 96%;
 }
 header{
  display: block;
  /*position: absolute;*/
  color: #000;
  font-family: "Franklin ITC Pro Light", Georgia, Arial;
  font-size: 40pt;
  bottom: 64pt;
  padding: 10px;
  width: 100%;
 }
}
#main-content h3{
 font-family: Arial, Helvetica, sans-serif;
 padding-bottom: 10px;
 padding-top: 10px;
}