<div id="header" class="row">
 <div class="large-12 columns">
  <div class="headline headline-image">
   <header>{{title}}</header>
   <h2 class="blurb" ng-show="article.blurb.length">{{article.blurb}}</h2>
  </div>
  <h3 class="byline" ng-show="byline.length">{{byline}}</h3>
  <hr ng-show="headerHasImage" />
 </div>
</div>
<div id="main-content" class="row">
 <div class="large-12 columns">
  <p ng-repeat="paragraph in articleParagraphs" ng-bind-html="to_trusted(paragraph)">{{paragraph}}</p>
 </div>
</div>
<script src="lib/foundation-5.2.2/js/foundation.min.js"></script>
<script src="lib/cross-browser-grayscale/js/grayscale.js"></script>
<script src="lib/cross-browser-grayscale/js/functions.js"></script>
<script>
 $(document).foundation();
</script>